.App {
  max-width: 980px;
  margin: auto;
}

.pagebreak {
  page-break-before: always;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

@media print {
  .no-print {
    display: none;
  }
}
